p {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color:white;
}
.container{
  display: flex;
  justify-content: center;
}

.butt {
    border: 1px outset blue;
    background-color: lightBlue;
    height:150px;
    width:250px;
    cursor:pointer;
    float:center;
}

.butt:hover {
background-color: blue;
    color:white;
}